@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.ttf') format('truetype');
	font-family: 'Pixel';
	src: url('../fonts/Pixel.ttf');
}

* {
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	color: #fff;
	height: 100%;
	background-image: url('../assets/imgs/bg-brick.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	font-family: Pixel;
	font-size: 50px;

	margin: 10px;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
}

[wm-flappy] {
	position: relative;
	border: 5px solid dodgerblue;

	height: 700px;
	width: 1200px;
	margin: 15px;
	overflow: hidden;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.character {
	position: absolute;
	width: 60px;
	left: calc(50% - 30px);
}

.coin {
	position: absolute;
	height: 50px;
	width: 50px;

	background-image: url('../assets/gifs/ring.gif');
	background-position: center;
	background-size: cover;
}

.par-de-barreiras {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.barreira {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.barreira .borda {
	height: 30px;
	width: 130px;
	background: linear-gradient(90deg, #639301, #a5e82e);
	border: 2px solid #000;
}

.barreira .corpo {
	height: 40px;
	width: 110px;
	background: linear-gradient(90deg, #639301, #a5e82e);
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

.progresso {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: Pixel;
	font-size: 70px;
	z-index: 100;

	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.coin-progress {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: Pixel;
	font-size: 70px;
	z-index: 100;

	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

[gear-icon] {
	cursor: pointer;

	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 50px;
	width: 50px;

	transition: transform 0.15s;

	z-index: 100;
}

[gear-icon]:hover {
	transform: scale(1.12);
}

[sound-icon] {
	cursor: pointer;

	position: absolute;
	bottom: 75px;
	left: 18px;
	height: 40px;
	width: 40px;

	transition: transform 0.15s;

	z-index: 100;
}

[sound-icon]:hover {
	transform: scale(1.12);
}

.coin-counter-container {
	position: absolute;
	top: 10px;
	left: 10px;

	display: flex;

	z-index: 100;
}

.coin-counter-container span {
	font-family: Pixel;
	font-size: 50px;

	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

[coin-icon] {
	height: 50px;
	width: 50px;

	z-index: 200;
}

[game-over] {
	background-color: #a2a2a2;
	background-position: center;
	background-size: cover;

	border: 5px solid black;

	position: absolute;
	z-index: 200;

	top: 10%;
	left: 10%;

	height: 80%;
	width: 80%;

	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

[game-over] h1 {
	font-family: Pixel;
	font-size: 110px;

	margin: 0;
	padding: 0;

	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

[game-over] h3 {
	font-family: Pixel;
	font-size: 40px;

	margin: 0;
	padding: 0;

	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}

[game-over] a {
	font-family: Pixel;
	font-size: 65px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;

	cursor: pointer;
	text-decoration: underline;

	transition: transform 0.3s;
}

[game-over] a:hover {
	color: rgb(71, 71, 214);
	-webkit-text-stroke-color: rgb(230, 230, 230);
	transform: scale(1.1);
}
